/*=======================superfish=========================*/
nav a{
	font-size: 16px;
}
nav{
	display:inline-block;
	margin: 42px 50px 0px;
	float: right;
	min-height: 37px;
}
.sf-menu{display:block;}
.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{
  font:600 17px/21px "SuperSpace", Georgia, sans-serif;
  float:left; 
  position:relative;
  margin-left: 40px;
}
/*CSS Arrow Submenu*/
ul.sf-menu>li>a>.sf-sub-indicator{
	  display:block;
	  position:absolute;
	  width:8px;
	  height:6px;
	  background: url(../images/indicator.png) 0 0 no-repeat;
	  top:33px;
	  left:50%;
	  margin-left: -2px;
	  }
#first-li{border-left:none;}
#last-li{border-right:none;}


ul.sf-menu>li:first-child{border-left:none;}
ul.sf-menu>li>a{
	display:block;
	color:#fff;
	font:600 18px/22px "SuperSpace", Georgia, sans-serif;
	/*padding:0 36px 0 36px;*/
	padding: 0 12px;
	text-align: center;
	text-transform: uppercase;
}


ul.sf-menu>li>a strong{
	width: 110%;
	height: 0px;
	position: absolute;
	/*background: #e74c3c;*/
	display: inline-block;
	left: -5%;
	top: -73px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{
	color:#c83939; 
	/*font-weight: bold;*/
}
ul.sf-menu>li.current>a strong, ul.sf-menu>li.sfHover>a strong, ul.sf-menu>li>a:hover strong{height: 0px;}
/*submenu1*/
.sf-menu>li>ul{
	left:-19px;
	top:42px;
	width:261px;
	z-index:99;
	background: #191919; 
	padding:23px 0 21px 0;
}
.sf-menu>li>ul>li {
	font-size: 12px; 
	font-weight:normal;
	position:relative;
	padding:0; 
	padding-bottom: 3px;
}
.sf-menu>li>ul>li:first-child{}

.sf-menu>li>ul>li>a {
	display: block;
	color:#686666;
	font:600 13px/13px "SuperSpace", Arial, sans-serif;
	padding: 6px 0;
	text-align: left;
	text-transform: uppercase;
	text-indent: 29px;
}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:red; background: #000; text-decoration: none;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	ul.sf-menu>li{margin-left: 7px;}
}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 21px !important;	
		
	}
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#98628b;
		padding:0px 0px 0px;
		width: 100%;
		margin: 0 auto;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
		/*nav:before{
			content:'Menu:';
			text-align: left;
			display:block;
			margin-bottom:5px;
			color: #474747;
			
		}*/
	.sf-menu{display:none;float: none;}
	nav select{
		font:14px/20px Arial, Helvetica, sans-serif;
		color:#101010;
		width:100%;
		left: 0%;
		position: relative;
		margin: 0 auto;
		float: none;
    	outline: none;
		border:2px solid #c83939;
		margin-top: 7px;
		border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		/*height: 40px !important;*/
		position: relative;
		outline: none !important;
		z-index: 1000;
	}
	nav{min-height: 30px;}
	
	
}
